<span class="comment-avatar">
  <%= avatar_link current_user, :comment_thumb %>
</span>

<div class="comment-wrapper">
  <%= form_for [post, Comment.new], remote: true, html: { class:"comment-form" } do |f| %>
    <div class="input-group">
      <%= f.text_field :body, placeholder: "Comment on this post...", class: ["form-control", "comment-text-field"], autocomplete: :off %>
      <span class="input-group-btn">
        <%= button_tag class: ["btn", "btn-default", "comment-btn"], data: { disable_with: icon("fas", "spinner", class: "fa-spin") } do %>
          <%= icon("far", "comment-alt") %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>