<div class="banner">
  <div class="row">
    <%= image_tag @user.banner_url(:full) %>
  </div>
</div>

<div class="navbar navbar-default profile-nav">
  <div class="container">
    <div class="col-xs-4 col-md-3 col-sm-4 avatar-container">
      <div class="avatar-main">
        <%= avatar_link @user, :banner_display, avatar_user_path(@user) %>
      </div>
    </div>
    <div class="col-xs-7 col-sm-8 col-md-7">
      <div class="navbar-form navbar-right"> 
        <%= friendship_action_links(@user) %>
      </div>
      <ul class="nav navbar-nav banner-nav">
        <li <%= 'class=active' if active == :posts %>><%= link_to "Posts", user_path(@user) %></li>
        <li <%= 'class=active' if active == :friends %>><%= link_to "Friends", friends_user_path(@user) %></li>
      </ul>
    </div>
  </div>
</div>