<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      
      <%= link_to icon("fab", "facebook") << " Facebook on Rails", root_url, class: "navbar-brand" %>
      
    </div>
    
    
    <% if user_signed_in? %>
    <div  id="nav-links" class=" collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to "Users", users_path %>
        </li>
        <li>
          <%= form_tag search_path, method: :get, enforce_utf8: false, authenticity_token: false, class: ["navbar-form", "navbar-left"] do %>
            <div class="input-group search-bar">
              <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Search"  %>
              <span class="input-group-btn">
                <%= button_tag name: nil, class: ["btn", "btn-default"] do %>
                  <%= icon("fas", "search") %>
                <% end %>
              </span>
            </div>
          <% end %>
        </li>
      </ul>
    
      <ul class="nav navbar-nav navbar-right">
      
        <li><%= link_to icon("fas", "user-circle") << " ".html_safe << current_user.first_name, current_user %></li>
        <li><%= link_to icon("fas", "users") << " Friends", friends_user_path(current_user) %></li>
        
        
        
        <li class="dropdown">
          
          <a class="dropdown-toggle" data-toggle="dropdown"  href="/notifications">
            <%= icon("fas", "bell") %>
            Notifications
            <small id="notifications-count" class="count"><%= current_user.notifications.count %></small>
          </a>
          
          <ul class="notifications dropdown-menu">
            <% if current_user.notifications.any? %>
            	<% current_user.notifications.first(5).each do |notification| %>
            	  <%= render "notifications/notification", notification: notification %>
            	<% end %>
            	<% if current_user.notifications.count > 5 %> 
            	  <li class="notification"><%= link_to "View all notifications", notifications_path, class: "description" %></li>
            	<% end %>
            <% else %>
              <li class="notification">There are no new notifications.</li>
            <% end %>
          </ul>
          
          
        </li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  href="#">
            <%= icon("fas", "user-plus") %>
            Friend Requests
            <small class="count"><%= current_user.friend_requests_received.count %></small>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to("Sent (#{current_user.friend_requests_sent.count})", sent_friend_requests_path) %></li>
            <li><%= link_to("Received (#{current_user.friend_requests_received.count})", received_friend_requests_path) %></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to icon("fas", "cog") << " Settings", edit_user_registration_path %></li>
            <li><%= link_to icon("fas", "sign-out-alt") << " Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
      
    </div>
      
    <% else %>
    
      <div class="navbar-right collapse navbar-collapse" id="nav-links">
        <%= form_for :user, url: session_path(:user), html: { class: "form-signin navbar-form" } do |f| %>
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, value: nil, autofocus: true, class: "form-control", placeholder: "Email" %>
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
          <%= f.button "Log In", class: ["btn", "btn-primary"] %>
          <%= link_to "#{icon("fab", "google")} Log in with Google".html_safe, user_google_oauth2_omniauth_authorize_path, class: ["btn", "btn-default"] %>
        <% end %>
      </div>
    <% end %>
    
  </div>
</nav>