<div class="container">
  <div class="row">
    <div class="col-md-3 home-panel">
        
      <div class="home-avatar">
        <%= avatar_link current_user, :home_display, avatar_path %>
      </div>
      
      <div class="home-panel-controls">
          <h4><%= @user.full_name %></h4>
          <h5>@<%= @user.username %></h5>
         <ul>
           <li>
               <%= link_to "Change Avatar", avatar_path %>
           </li>
           <li>
               <%= link_to "Change Banner", banner_path %>
           </li>
           <li>
               <%= link_to "Edit Profile", edit_profile_path %>
           </li>
           <li>
               <%= link_to "Friend Requests Received", received_friend_requests_path %>
           </li>
           <li>
               <%= link_to "Friend Requests Sent", sent_friend_requests_path %>
           </li>
           <li>
               <%= link_to "Account Settings", edit_user_registration_path %>
           </li>
           <li>
               <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
           </li>
         </ul>
      </div>
    </div>
    
    <%= render "users/posts/posts" %>
  </div>
</div>