<ul class="comments">
  <% post.comments.each do |comment| %>
    <li id="comment_<%= comment.id %>" class="comment">
      <span class="comment-avatar"><img src="http://via.placeholder.com/32x32"></span>
      <div class="comment-wrapper">
        <div class="comment-body">
          
          <div class="dropdown post-actions">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-option-horizontal"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit", edit_comment_path(comment) %></li>
              <li><%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %></li>
            </ul>
          </div>
          
          <strong><%= link_to comment.user.full_name, comment.user %></strong> <%= comment.body %>
        </div>
        <div class="comment-interactions">
          <%= comment_toggleable_like_button(comment) if user_signed_in? %> <small class="comment-likes-count"><%= likes_count(comment) %></small>
          <span style="float:right"><%= time_ago_in_words(comment.created_at) %></span>
        </div>
      </div>
      
    </li>
  <% end %>
  
  <% if user_signed_in? %>
    <li>
      <%= form_for [post, Comment.new] do |f| %>
        <span class="comment-avatar"><img src="http://via.placeholder.com/32x32"></span>
        <div class="comment-form">
          <div class="input-group">
            <%= f.text_field :body, placeholder: "Comment on this post...", class: "form-control" %>
            <span class="input-group-btn">
              <%= button_tag class: ["btn", "btn-default", "comment-btn"] do %>
                <%= icon("far", "comment-alt") %>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
  
</ul>