<li class="post" id=<%= "post_#{post.id}" %>>
  <div class="post-avatar">
    <%= avatar_link post.poster, :post_thumb %>
  </div>
  <span class="post-user-link"><strong><%= link_to post.poster.full_name, post.poster %></strong>
    <% if post.poster != post.user %>
      <%= icon("fas", "caret-right") %>
      <strong><%= link_to post.user.full_name, post.user %></strong>
    <% end %>
  </span>
  <span class="timestamp"> <%= time_ago_in_words(post.created_at) %> ago</span>
  <%= render "shared/advanced_actions", type: "post", object: post %>
  <span class="post-content">
    <div class="post-body"><%= auto_link post.body.gsub(/(\n\s*){2,}/, "<br /><br />").gsub(/\n\s*/, "<br />"), html: { target: "_blank" } %></div>
    <div class="post-interactions">
      <%= post_toggleable_like_button(post) if user_signed_in? %>
      <small class="post-likes-count"><%= likes_count post %></small>
    </div>
  </span>
  
  <%= render "users/comments/comments", post: post %>
  
</li>