<% edit_mode ||= false %>
<% simplify ||= edit_mode %>
<li class="post" id=<%= "post_#{post.id}" %>>
  <div class="post-avatar">
    <%= avatar_link post.poster, :post_thumb %>
  </div>
  <span class="post-user-link"><strong><%= user_link post.poster %></strong>
    <% if post.poster != post.user %>
      <%= icon("fas", "caret-right") %>
      <strong><%= user_link post.user %></strong>
    <% end %>
  </span>
  <span class="timestamp"> <%= time_ago_in_words(post.created_at) %> ago</span>
  
  <%= render("shared/advanced_actions", type: "post", object: post) unless simplify %>
  
  <span class="post-content">
    <% unless edit_mode %>
      <div class="post-body"><%= auto_link post.body.gsub(/\R/, "<br />"), link: :urls, html: { target: "_blank" } %></div>
      <% unless simplify %>
        <div class="post-interactions">
          <%= post_toggleable_like_button(post) if user_signed_in? %>
          <small class="post-likes-count"><%= likes_count post %></small>
        </div>
      <% end %>
    <% else %>
      <%= render "post_edit_form" %>
    <% end %>
  </span>
  
  <%= render("users/comments/comments", post: post) unless simplify %>
  
</li>