<ul>
  <% if user_signed_in? %>
    <li>
      <%= "Signed-in as " %> <strong><%= current_user.username %></strong>
    </li>
    <li>
      <%= link_to("Settings", edit_user_registration_path) %>
    </li>
    <li>
      <%= link_to('Log-out', destroy_user_session_path, method: :delete) %>
    </li>
  <% else %>
    <li>
      <%= link_to('Log-in', new_user_session_path)  %>  
    </li>
    <li>
      <%= link_to('Sign-up', new_user_registration_path)  %>  
    </li>
  <% end %>
</ul>