<!DOCTYPE html>
<html>
  <head>
    <title>Facebook on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="margin-top: 50px;">
      <%= render "shared/header" %>
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
