<!DOCTYPE html>
<html>
  <head>
    <title><%= generate_title yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <div style="margin-top: 50px; min-height: 768px;">
      <%= render "shared/header" %>
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
